@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  font-size: 1.6em;
  max-width: 600px;
  margin: 0 auto;
  background: #444;
  overflow: hidden;
  font-family: Raleway;
}
nav {
  height: 60px;
  background: #F76C6C;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.Wrapper {
  display: flex;
}
main {
  padding: 50px;
  flex-grow: 1;
  /* height: calc(100vh - 60px); */
  background: #ddd;
  position: relative;
}
aside {
  width: 40%;
}
.Friend {
  display: flex;
  align-items: center;
  transition: 0.3s background-color;
}
.Friend img {
  opacity: 0.75;
  transition: 0.3s opacity;
}
.Friend.offline {
  opacity: 0.8;
}
.Friend div {
  flex-grow: 1;
  text-align: center;
}
.Friend:nth-child(2n + 1) {
  background-color: #f8f8f8;
}
.Friend:nth-child(2n) {
  background-color: #fff;
}
/* .Friend:not(.offline):hover {
  background-color: #dde4ee;
} */
.Friend:not(.offline):hover img {
  opacity: 1;
}
.Friend .activity {
  display: inline-block;
  width: 0;
  border: 10px solid #aaa;
  border-radius: 50%;
  margin-top: 10px;
}
.Friend.online .activity {
  border: 10px solid #9d9;
}
.Title {
  flex-grow: 1;
}
.Notif {
  background: #b33;
  color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  font-weight: bold;
}
.Messages-wrapper {
  position: absolute;
  bottom: 0;
  right: 20px;
  border: 1px solid #aaa;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 60%;
  display: none;
}
.Messages-wrapper.expand {
  display: block;
}
.Messages-collapse {
  height: 0;
}
.Messages-collapse {
  height: auto;
}
.Messages-inner {
  padding: 20px 4%;
}
.Messages-wrapper .Friend-name {
  background: #eee;
  margin: 0;
  font-size: 1.3rem;
  padding: 5px 20px;
}
.Message {
  background: #ccc;
  color: #000;
  padding: 10px;
  font-size: 1.3rem;
  border: 1px solid #888;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 70%;
}
textarea {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 90%;
  margin: 5px 4%;
  resize: none;
}
.Friend {
  background-position: center;
  transition: background 0.5s;
}
.Friend:not(.offline):hover {
  background: #f99797 radial-gradient(circle, transparent 1%, #f99797 1%) center/15000%;
}
.Friend:not(.offline):active {
  background-color: #fcd7d7;
  background-size: 100%;
  transition: background 0s;
}